<config>
	<competition id="cl">
		<name>UEFA Champions League</name>
		<short>CL</short>
	</competition>
	<competition id="el">
		<name>UEFA Europa League</name>
		<short>EL</short>
	</competition>
	<competition id="ecl">
		<name>UEFA Europa Conference League</name>
		<short>ECL</short>
	</competition>

	<!-- the uppermost teams element is loaded by default -->
	<teams competition="cl" season="2021/22">
		<seeded>
			<team group="A" country="EN">Man. City</team>
			<team group="B" country="EN">Liverpool FC</team>
			<team group="C" country="NL">Ajax</team>
			<team group="D" country="ES">Real Madrid</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="EN">Man. United</team>
			<team group="G" country="FR">LOSC Lille</team>
			<team group="H" country="IT">Juventus</team>
		</seeded>
		<unseeded>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="ES">Atlético</team>
			<team group="C" country="PT">Sporting</team>
			<team group="D" country="IT">Inter</team>
			<team group="E" country="PT">Benfica</team>
			<team group="F" country="ES">Villarreal</team>
			<team group="G" country="AT">Salzburg</team>
			<team group="H" country="EN">Chelsea FC</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2021/22">
		<seeded>
			<team country="FR">Lyon</team>
			<team country="FR">Monaco</team>
			<team country="RU/UA">Spartak</team>
			<team country="DE">Frankfurt</team>
			<team country="TR">Galatasaray</team>
			<team country="RS">Belgrade</team>
			<team country="DE">Leverkusen</team>
			<team country="EN">West Ham</team>
		</seeded>
		<unseeded>
			<team country="ES">Sevilla FC</team>
			<team country="IT">Atalanta</team>
			<team country="DE">Leipzig</team>
			<team country="ES">FC Barcelona</team>
			<team country="ES">Betis</team>
			<team country="SC">Rangers</team>
			<team country="PT">Braga</team>
			<team country="PT">FC Porto</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2021/22 Knockout">
		<seeded>
			<team country="SC">Rangers</team>
			<team country="ES">Sociedad</team>
			<team country="IT">Napoli</team>
			<team country="GR">Olympiakos</team>
			<team country="IT">Lazio</team>
			<team country="PT">Braga</team>
			<team country="ES">Betis</team>
			<team country="CR">Zagreb</team>
		</seeded>
		<unseeded>
			<team country="DE">Leipzig</team>
			<team country="PT">FC Porto</team>
			<team country="DE">Dortmund</team>
			<team country="MD">Sheriff</team>
			<team country="ES">FC Barcelona</team>
			<team country="IT">Atalanta</team>
			<team country="ES">Sevilla FC</team>
			<team country="RU/UA">Zenit</team>
		</unseeded>
	</teams>
	<teams competition="ecl" season="2021/22">
		<seeded>
			<team country="AT">LASK</team>
			<team country="BE">Gent</team>
			<team country="IT">AS Roma</team>
			<team country="NL">Alkmaar</team>
			<team country="NL">Feyenoord</team>
			<team country="DK">København</team>
			<team country="FR">Rennes</team>
			<team country="CH">Basel</team>
		</seeded>
		<unseeded>
			<team country="FR">Marseille</team>
			<team country="NL">Eindhoven</team>
			<team country="CZ">Slavia</team>
			<team country="GR">PAOK</team>
			<team country="EN">Leicester</team>
			<team country="NO">Bodø/Glimt</team>
			<team country="RS">Partizan</team>
			<team country="NL">Vitesse</team>
		</unseeded>
	</teams>
	<teams competition="ecl" season="2021/22 Knockout">
		<seeded>
			<team country="IL">Tel Aviv</team>
			<team country="RS">Partizan</team>
			<team country="NO">Bodø/Glimt</team>
			<team country="DK">Randers FC</team>
			<team country="CZ">Slavia</team>
			<team country="GR">PAOK</team>
			<team country="EN/NL">Tottenham / Vitesse</team>
			<team country="AZ">Qarabağ</team>
		</seeded>
		<unseeded>
			<team country="CZ">Sparta</team>
			<team country="EN/NL">Eindhoven</team>
			<team country="EN/NL">Leicester</team>
			<team country="TR">Fenerbahçe</team>
			<team country="FR">Marseille</team>
			<team country="DK">Midtjylland</team>
			<team country="SC">Celtic</team>
			<team country="AT">Rapid</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2020/21">
		<seeded>
			<team group="A" country="DE">FC Bayern</team>
			<team group="B" country="ES">Real Madrid</team>
			<team group="C" country="EN">Man. City</team>
			<team group="D" country="EN">Liverpool FC</team>
			<team group="E" country="EN">Chelsea FC</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="IT">Juventus</team>
			<team group="H" country="FR">Paris SG</team>
		</seeded>
		<unseeded>
			<team group="A" country="ES">Atlético</team>
			<team group="B" country="DE">Gladbach</team>
			<team group="C" country="PT">FC Porto</team>
			<team group="D" country="IT">Atalanta</team>
			<team group="E" country="ES">Sevilla FC</team>
			<team group="F" country="IT">Lazio</team>
			<team group="G" country="ES">FC Barcelona</team>
			<team group="H" country="DE">Leipzig</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2020/21">
		<seeded>
			<team group="A" country="IT">Roma</team>
			<team group="B" country="EN">Arsenal</team>
			<team group="C" country="DE">Leverkusen</team>
			<team group="D" country="SC">Rangers</team>
			<team group="E" country="NL">Eindhoven</team>
			<team group="F" country="IT">Napoli</team>
			<team group="G" country="EN">Leicester</team>
			<team group="H" country="IT">Milan</team>
			<team group="I" country="ES">Villarreal</team>
			<team group="J" country="EN">Tottenham</team>
			<team group="K" country="CR">Zagreb</team>
			<team group="L" country="DE">Hoffenheim</team>
			<team country="EN">ManUtd</team>
			<team country="BE">Brugge</team>
			<team country="RU/UA">Shakhtar</team>
			<team country="NL">Ajax</team>
		</seeded>
		<unseeded>
			<team group="A" country="CH">Bern</team>
			<team group="B" country="NO">Molde</team>
			<team group="C" country="CZ">Praha</team>
			<team group="D" country="PT">Benfica</team>
			<team group="E" country="ES">Granada</team>
			<team group="F" country="ES">Sociedad</team>
			<team group="G" country="PT">Braga</team>
			<team group="H" country="FR">Lille</team>
			<team group="I" country="IL">Tel Aviv</team>
			<team group="J" country="BE">Antwerp</team>
			<team group="K" country="AT">Wolfsberg</team>
			<team group="L" country="RS">Belgrade</team>
			<team country="RU/UA">Krasnodar</team>
			<team country="AT">Salzburg</team>
			<team country="RU/UA">Kyiv</team>
			<team country="GR">Olympiakos</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2019/20">
		<seeded>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="DE">FC Bayern</team>
			<team group="C" country="EN">Man. City</team>
			<team group="D" country="IT">Juventus</team>
			<team group="E" country="EN">Liverpool FC</team>
			<team group="F" country="ES">FC Barcelona</team>
			<team group="G" country="DE">Leipzig</team>
			<team group="H" country="ES">FC Valencia</team>
		</seeded>
		<unseeded>
			<team group="A" country="ES">Real Madrid</team>
			<team group="B" country="EN">Tottenham</team>
			<team group="C" country="IT">Atalanta</team>
			<team group="D" country="ES">Atlético</team>
			<team group="E" country="IT">Napoli</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="FR">Lyon</team>
			<team group="H" country="EN">Chelsea FC</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2019/20">
		<seeded>
			<team group="A" country="ES">Sevilla</team>
			<team group="B" country="SE">Malmö</team>
			<team group="C" country="CH">Basel</team>
			<team group="D" country="AT">LASK</team>
			<team group="E" country="SC">Celtic</team>
			<team group="F" country="EN">Arsenal</team>
			<team group="G" country="PT">Porto</team>
			<team group="H" country="ES">Espanyol</team>
			<team group="I" country="BE">Gent</team>
			<team group="J" country="TR">Başakşehir</team>
			<team group="K" country="PT">Braga</team>
			<team group="L" country="EN">ManUtd</team>
			<team country="NL">Ajax</team>
			<team country="AT">Salzburg</team>
			<team country="IT">Inter</team>
			<team country="PT">Benfica</team>
		</seeded>
		<unseeded>
			<team group="A" country="CY">APOEL</team>
			<team group="B" country="DK">København</team>
			<team group="C" country="ES">Getafe</team>
			<team group="D" country="PT">Sporting</team>
			<team group="E" country="RO">Cluj</team>
			<team group="F" country="DE">Frankfurt</team>
			<team group="G" country="SC">Rangers</team>
			<team group="H" country="BG">Razgrad</team>
			<team group="I" country="DE">Wolfsburg</team>
			<team group="J" country="IT">Roma</team>
			<team group="K" country="EN">Wolverh.</team>
			<team group="L" country="NL">Alkmaar</team>
			<team country="DE">Leverk.</team>
			<team country="RU/UA">Shakhtar</team>
			<team country="GR">Olympiakos</team>
			<team country="BE">Brugge</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2018/19">
		<seeded>
			<team group="A" country="DE">Dortmund</team>
			<team group="B" country="ES">FC Barcelona</team>
			<team group="C" country="FR">Paris SG</team>
			<team group="D" country="PT">FC Porto</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="EN">Man. City</team>
			<team group="G" country="ES">Real Madrid</team>
			<team group="H" country="IT">Juventus</team>
		</seeded>
		<unseeded>
			<team group="A" country="ES">Atlético</team>
			<team group="B" country="EN">Tottenham</team>
			<team group="C" country="EN">Liverpool FC</team>
			<team group="D" country="DE">Schalke 04</team>
			<team group="E" country="NL">Ajax</team>
			<team group="F" country="FR">Lyon</team>
			<team group="G" country="IT">AS Roma</team>
			<team group="H" country="EN">Man. United</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2018/19">
		<seeded>
			<team group="A" country="DE">Leverkusen</team>
			<team group="B" country="AT">Salzburg</team>
			<team group="C" country="RU/UA">Zenit</team>
			<team group="D" country="CR">Zagreb</team>
			<team group="E" country="EN">Arsenal</team>
			<team group="F" country="ES">Betis</team>
			<team group="G" country="ES">Villarreal</team>
			<team group="H" country="DE">Frankfurt</team>
			<team group="I" country="BE">Genk</team>
			<team group="J" country="ES">Sevilla FC</team>
			<team group="K" country="RU/UA">Kyiv</team>
			<team group="L" country="EN">Chelsea</team>
			<team country="IT">Napoli</team>
			<team country="ES">Valencia</team>
			<team country="IT">Inter</team>
			<team country="PT">Benfica</team>
		</seeded>
		<unseeded>
			<team group="A" country="CH">Zürich</team>
			<team group="B" country="SC">Celtic</team>
			<team group="C" country="CZ">Praha</team>
			<team group="D" country="TR">Fenerbahçe</team>
			<team group="E" country="PT">Sporting</team>
			<team group="F" country="GR">Olympiakos</team>
			<team group="G" country="AT">Rapid</team>
			<team group="H" country="IT">Lazio</team>
			<team group="I" country="SE">Malmö</team>
			<team group="J" country="RU/UA">Krasnodar</team>
			<team group="K" country="FR">Rennes</team>
			<team group="L" country="BY">BATE</team>
			<team country="CZ">Plzeň</team>
			<team country="BE">Brugge</team>
			<team country="RU/UA">Shakhtar</team>
			<team country="TR">Galatasaray</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2017/18">
		<seeded>
			<team group="A" country="EN">Man. United</team>
			<team group="B" country="FR">Paris SG</team>
			<team group="C" country="IT">AS Roma</team>
			<team group="D" country="ES">FC Barcelona</team>
			<team group="E" country="EN">Liverpool FC</team>
			<team group="F" country="EN">Man. City</team>
			<team group="G" country="TR">Beşiktaş JK</team>
			<team group="H" country="EN">Tottenham</team>
		</seeded>
		<unseeded>
			<team group="A" country="CH">FC Basel</team>
			<team group="B" country="DE">FC Bayern</team>
			<team group="C" country="EN">Chelsea FC</team>
			<team group="D" country="IT">Juventus</team>
			<team group="E" country="ES">Sevilla FC</team>
			<team group="F" country="RU/UA">Shakhtar</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="ES">Real Madrid</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2017/18">
		<seeded>
			<team group="A" country="ES">Villarreal</team>
			<team group="B" country="RU/UA">Kyiv</team>
			<team group="C" country="PT">Braga</team>
			<team group="D" country="IT">Milan</team>
			<team group="E" country="IT">Atalanta</team>
			<team group="F" country="RU/UA">Lokomotiv</team>
			<team group="G" country="CZ">Plzen</team>
			<team group="H" country="EN">Arsenal</team>
			<team group="I" country="AT">Salzburg</team>
			<team group="J" country="ES">Bilbao</team>
			<team group="K" country="IT">Lazio</team>
			<team group="L" country="RU/UA">Zenit</team>
			<team country="RU/UA">CSKA</team>
			<team country="ES">Atlético</team>
			<team country="DE">Leipzig</team>
			<team country="PT">Sporting</team>
		</seeded>
		<unseeded>
			<team group="A" country="KZ">Astana</team>
			<team group="B" country="RS">Partizan</team>
			<team group="C" country="BG">Razgrad</team>
			<team group="D" country="GR">Athens</team>
			<team group="E" country="FR">Lyon</team>
			<team group="F" country="DK">København</team>
			<team group="G" country="RO">FCSB</team>
			<team group="H" country="RS">Belgrade</team>
			<team group="I" country="FR">Marseille</team>
			<team group="J" country="SE">Östersund</team>
			<team group="K" country="FR">Nice</team>
			<team group="L" country="ES">Sociedad</team>
			<team country="IT">Napoli</team>
			<team country="RU/UA">Spartak</team>
			<team country="SC">Celtic</team>
			<team country="DE">Dortmund</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2016/17">
		<seeded>
			<team group="A" country="EN">Arsenal FC</team>
			<team group="B" country="IT">Napoli</team>
			<team group="C" country="ES">FC Barcelona</team>
			<team group="D" country="ES">Atlético</team>
			<team group="E" country="FR">AS Monaco</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="EN">Leicester</team>
			<team group="H" country="IT">Juventus</team>
		</seeded>
		<unseeded>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="PT">Benfica</team>
			<team group="C" country="EN">Man. City</team>
			<team group="D" country="DE">FC Bayern</team>
			<team group="E" country="DE">Leverkusen</team>
			<team group="F" country="ES">Real Madrid</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="ES">Sevilla FC</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2016/17">
		<seeded>
			<team group="A" country="TR">Fenerbahçe</team>
			<team group="B" country="CY">APOEL</team>
			<team group="C" country="FR">Saint-Étienne</team>
			<team group="D" country="RU/UA">Zenit</team>
			<team group="E" country="IT">Roma</team>
			<team group="F" country="BE">Genk</team>
			<team group="G" country="NL">Ajax</team>
			<team group="H" country="RU/UA">Shakhtar</team>
			<team group="I" country="DE">Schalke</team>
			<team group="J" country="IT">Fiorentina</team>
			<team group="K" country="CZ">Sparta</team>
			<team group="L" country="TR">Osmanlıspor</team>
			<team country="DK">København</team>
			<team country="FR">Lyon</team>
			<team country="EN">Tottenham</team>
			<team country="TR">Beşiktaş</team>
		</seeded>
		<unseeded>
			<team group="A" country="EN">ManUtd</team>
			<team group="B" country="GR">Olympiacos</team>
			<team group="C" country="BE">Anderlecht</team>
			<team group="D" country="NL">Alkmaar</team>
			<team group="E" country="RO">Astra</team>
			<team group="F" country="ES">Bilbao</team>
			<team group="G" country="ES">Celta</team>
			<team group="H" country="BE">Gent</team>
			<team group="I" country="RU/UA">Krasnodar</team>
			<team group="J" country="GR">PAOK</team>
			<team group="K" country="IL">Be'er Sheva</team>
			<team group="L" country="ES">Villarreal</team>
			<team country="RU/UA">Rostov</team>
			<team country="DE">Gladbach</team>
			<team country="PL">Legia</team>
			<team country="BG">Razgrad</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2015/16">
		<seeded>
			<team group="A" country="ES">Real Madrid</team>
			<team group="B" country="DE">Wolfsburg</team>
			<team group="C" country="ES">Atlético</team>
			<team group="D" country="EN">Man. City</team>
			<team group="E" country="ES">FC Barcelona</team>
			<team group="F" country="DE">FC Bayern</team>
			<team group="G" country="EN">Chelsea FC</team>
			<team group="H" country="RU/UA">Zenit</team>
		</seeded>
		<unseeded>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="NL">Eindhoven</team>
			<team group="C" country="PT">Benfica</team>
			<team group="D" country="IT">Juventus</team>
			<team group="E" country="IT">AS Roma</team>
			<team group="F" country="EN">Arsenal FC</team>
			<team group="G" country="RU/UA">Kyiv</team>
			<team group="H" country="BE">Gent</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2015/16">
		<seeded>
			<team group="A" country="NO">Molde</team>
			<team group="B" country="EN">Liverpool</team>
			<team group="C" country="RU/UA">Krasnodar</team>
			<team group="D" country="IT">Napoli</team>
			<team group="E" country="AT">Rapid</team>
			<team group="F" country="PT">Braga</team>
			<team group="G" country="IT">Lazio</team>
			<team group="H" country="RU/UA">Lokomotiv</team>
			<team group="I" country="CH">Basel</team>
			<team group="J" country="EN">Tottenham</team>
			<team group="K" country="DE">Schalke</team>
			<team group="L" country="ES">Bilbao</team>
			<team country="PT">Porto</team>
			<team country="GR">Olympiacos</team>
			<team country="EN">ManUtd</team>
			<team country="DE">Leverkusen</team>
		</seeded>
		<unseeded>
			<team group="A" country="TR">Fenerbahçe</team>
			<team group="B" country="CH">Sion</team>
			<team group="C" country="DE">Dortmund</team>
			<team group="D" country="DK">Midtjylland</team>
			<team group="E" country="ES">Villarreal</team>
			<team group="F" country="FR">Marseille</team>
			<team group="G" country="FR">Saint-Étienne</team>
			<team group="H" country="PT">Sporting</team>
			<team group="I" country="IT">Fiorentina</team>
			<team group="J" country="BE">Anderlecht</team>
			<team group="K" country="CZ">Prague</team>
			<team group="L" country="DE">Augsburg</team>
			<team country="ES">Sevilla</team>
			<team country="ES">Valencia</team>
			<team country="TR">Galatasaray</team>
			<team country="RU/UA">Shakhtar</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2014/15">
		<seeded>
			<team group="A" country="ES">Atlético</team>
			<team group="B" country="ES">Real Madrid</team>
			<team group="C" country="FR">AS Monaco</team>
			<team group="D" country="DE">Dortmund</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="ES">FC Barcelona</team>
			<team group="G" country="EN">Chelsea FC</team>
			<team group="H" country="PT">FC Porto</team>
		</seeded>
		<unseeded>
			<team group="A" country="IT">Juventus</team>
			<team group="B" country="CH">FC Basel</team>
			<team group="C" country="DE">Leverkusen</team>
			<team group="D" country="EN">Arsenal FC</team>
			<team group="E" country="EN">Man. City</team>
			<team group="F" country="FR">Paris SG</team>
			<team group="G" country="DE">Schalke 04</team>
			<team group="H" country="RU/UA">Shakhtar</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2014/15">
		<seeded>
			<team group="A" country="DE">Gladbach</team>
			<team group="B" country="BE">Brugge</team>
			<team group="C" country="TR">Beşiktaş</team>
			<team group="D" country="AT">Salzburg</team>
			<team group="E" country="RU/UA">Moskva</team>
			<team group="F" country="IT">Inter</team>
			<team group="G" country="NL">Feyenoord</team>
			<team group="H" country="EN">Everton</team>
			<team group="I" country="IT">Napoli</team>
			<team group="J" country="RU/UA">Kyiv</team>
			<team group="K" country="IT">Fiorentina</team>
			<team group="L" country="PL">Legia</team>
			<team country="GR">Olympiacos</team>
			<team country="PT">Sporting</team>
			<team country="ES">Bilbao</team>
			<team country="RU/UA">Zenit</team>
		</seeded>
		<unseeded>
			<team group="A" country="ES">Villarreal</team>
			<team group="B" country="IT">Torino</team>
			<team group="C" country="EN">Tottenham</team>
			<team group="D" country="SC">Celtic</team>
			<team group="E" country="NL">Eindhoven</team>
			<team group="F" country="RU/UA">Dnipro</team>
			<team group="G" country="ES">Sevilla</team>
			<team group="H" country="DE">Wolfsburg</team>
			<team group="I" country="CH">Bern</team>
			<team group="J" country="DK">Aalborg</team>
			<team group="K" country="FR">Guingamp</team>
			<team group="L" country="TR">Trabzon</team>
			<team country="BE">Anderlecht</team>
			<team country="NL">Ajax</team>
			<team country="EN">Liverpool</team>
			<team country="IT">Roma</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2013/14">
		<seeded>
			<team group="A" country="EN">Man. United</team>
			<team group="B" country="ES">Real Madrid</team>
			<team group="C" country="FR">Paris SG</team>
			<team group="D" country="DE">FC Bayern</team>
			<team group="E" country="EN">Chelsea FC</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="ES">Atlético</team>
			<team group="H" country="ES">FC Barcelona</team>
		</seeded>
		<unseeded>
			<team group="A" country="DE">Leverkusen</team>
			<team group="B" country="TR">Galatasaray</team>
			<team group="C" country="GR">Olympiacos</team>
			<team group="D" country="EN">Man. City</team>
			<team group="E" country="DE">Schalke 04</team>
			<team group="F" country="EN">Arsenal FC</team>
			<team group="G" country="RU">Zenit</team>
			<team group="H" country="IT">AC Milan</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2013/14">
		<seeded>
			<team group="A" country="ES">Valencia</team>
			<team group="B" country="BG">Razgrad</team>
			<team group="C" country="AT">Salzburg</team>
			<team group="D" country="RU">Kazan</team>
			<team group="E" country="IT">Fiorentina</team>
			<team group="F" country="DE">Frankfurt</team>
			<team group="G" country="BE">Genk</team>
			<team group="H" country="ES">Sevilla</team>
			<team group="I" country="FR">Lyon</team>
			<team group="J" country="TR">Trabzonspor</team>
			<team group="K" country="EN">Tottenham</team>
			<team group="L" country="NL">Alkmaar</team>
			<team country="IT">Napoli</team>
			<team country="PT">Benfica</team>
			<team country="UA">Shakhtar</team>
			<team country="CH">Basel</team>
		</seeded>
		<unseeded>
			<team group="A" country="EN">Swansea</team>
			<team group="B" country="UA">Odesa</team>
			<team group="C" country="DK">Esbjerg</team>
			<team group="D" country="SI">Maribor</team>
			<team group="E" country="UA">Dnipro</team>
			<team group="F" country="IL">Tel Aviv</team>
			<team group="G" country="UA">Kyiv</team>
			<team group="H" country="CZ">Liberec</team>
			<team group="I" country="ES">Betis</team>
			<team group="J" country="IT">Lazio</team>
			<team group="K" country="RU">Anzhi</team>
			<team group="L" country="GR">PAOK</team>
			<team country="NL">Ajax</team>
			<team country="IT">Juventus</team>
			<team country="PT">Porto</team>
			<team country="CZ">Plzeň</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2012/13">
		<seeded>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="DE">Schalke 04</team>
			<team group="C" country="ES">Málaga</team>
			<team group="D" country="DE">Dortmund</team>
			<team group="E" country="IT">Juventus</team>
			<team group="F" country="DE">FC Bayern</team>
			<team group="G" country="ES">FC Barcelona</team>
			<team group="H" country="EN">Man. United</team>
		</seeded>
		<unseeded>
			<team group="A" country="PT">FC Porto</team>
			<team group="B" country="EN">Arsenal FC</team>
			<team group="C" country="IT">AC Milan</team>
			<team group="D" country="ES">Real Madrid</team>
			<team group="E" country="UA">Shakhtar</team>
			<team group="F" country="ES">FC Valencia</team>
			<team group="G" country="SC">Celtic</team>
			<team group="H" country="TR">Galatasaray</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2012/13">
		<seeded>
			<team group="A" country="EN">Liverpool</team>
			<team group="B" country="CZ">Plzeň</team>
			<team group="C" country="TR">Fenerbahçe</team>
			<team group="D" country="FR">Bordeaux</team>
			<team group="E" country="RO">Steaua</team>
			<team group="F" country="UA">Dnipro</team>
			<team group="G" country="BE">Genk</team>
			<team group="H" country="RU">Kazan</team>
			<team group="I" country="FR">Lyon</team>
			<team group="J" country="IT">Lazio</team>
			<team group="K" country="UA">Kharkiv</team>
			<team group="L" country="DE">Hannover</team>
			<team country="EN">Chelsea</team>
			<team country="RO">Cluj</team>
			<team country="GR">Olympiacos</team>
			<team country="PT">Benfica</team>
		</seeded>
		<unseeded>
			<team group="A" country="RU">Anzhi</team>
			<team group="B" country="ES">Atlético</team>
			<team group="C" country="DE">Gladbach</team>
			<team group="D" country="EN">Newcastle</team>
			<team group="E" country="DE">Stuttgart</team>
			<team group="F" country="IT">Napoli</team>
			<team group="G" country="CH">Basel</team>
			<team group="H" country="IT">Inter</team>
			<team group="I" country="CZ">Praha</team>
			<team group="J" country="EN">Tottenham</team>
			<team group="K" country="DE">Leverkusen</team>
			<team group="L" country="ES">Levante</team>
			<team country="RU">Zenit</team>
			<team country="BY">BATE</team>
			<team country="UA">Kyiv</team>
			<team country="NL">Ajax</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2011/12">
		<seeded>
			<team group="A" country="DE">FC Bayern</team>
			<team group="B" country="IT">Inter</team>
			<team group="C" country="PT">Benfica</team>
			<team group="D" country="ES">Real Madrid</team>
			<team group="E" country="EN">Chelsea FC</team>
			<team group="F" country="EN">Arsenal FC</team>
			<team group="G" country="CY">APOEL</team>
			<team group="H" country="ES">FC Barcelona</team>
		</seeded>
		<unseeded>
			<team group="A" country="IT">Napoli</team>
			<team group="B" country="RU">CSKA</team>
			<team group="C" country="CH">FC Basel</team>
			<team group="D" country="FR">Lyon</team>
			<team group="E" country="DE">Leverkusen</team>
			<team group="F" country="FR">Marseille</team>
			<team group="G" country="RU">Zenit</team>
			<team group="H" country="IT">AC Milan</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2011/12">
		<seeded>
			<team group="A" country="GR">PAOK</team>
			<team group="B" country="BE">Liège</team>
			<team group="C" country="NL">Eindhoven</team>
			<team group="D" country="PT">Sporting</team>
			<team group="E" country="TR">Beşiktaş</team>
			<team group="F" country="ES">Bilbao</team>
			<team group="G" country="UA">Kharkiv</team>
			<team group="H" country="BE">Brugge</team>
			<team group="I" country="ES">Atlético</team>
			<team group="J" country="DE">Schalke</team>
			<team group="K" country="NL">Twente</team>
			<team group="L" country="BE">Anderlecht</team>
			<team country="EN">Man. City</team>
			<team country="EN">Man. United</team>
			<team country="GR">Olympiacos</team>
			<team country="ES">Valencia</team>
		</seeded>
		<unseeded>
			<team group="A" country="RU">Kazan</team>
			<team group="B" country="DE">Hannover</team>
			<team group="C" country="PL">Legia</team>
			<team group="D" country="IT">Lazio</team>
			<team group="E" country="EN">Stoke</team>
			<team group="F" country="AT">Salzburg</team>
			<team group="G" country="NL">Alkmaar</team>
			<team group="H" country="PT">Braga</team>
			<team group="I" country="IT">Udinese</team>
			<team group="J" country="RO">Steaua</team>
			<team group="K" country="PL">Kraków</team>
			<team group="L" country="RU">Lokomotiv</team>
			<team country="PT">Porto</team>
			<team country="NL">Ajax</team>
			<team country="TR">Trabzon</team>
			<team country="CZ">Plzeň</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2010/11">
		<seeded>
			<team group="A" country="EN">Tottenham</team>
			<team group="B" country="DE">Schalke 04</team>
			<team group="C" country="EN">Man. United</team>
			<team group="D" country="ES">FC Barcelona</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="EN">Chelsea FC</team>
			<team group="G" country="ES">Real Madrid</team>
			<team group="H" country="UA">Shakhtar</team>
		</seeded>
		<unseeded>
			<team group="A" country="IT">Inter</team>
			<team group="B" country="FR">Lyon</team>
			<team group="C" country="ES">FC Valencia</team>
			<team group="D" country="DK">København</team>
			<team group="E" country="IT">AS Roma</team>
			<team group="F" country="FR">Marseille</team>
			<team group="G" country="IT">AC Milan</team>
			<team group="H" country="EN">Arsenal FC</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2009/10">
		<seeded>
			<team group="A" country="FR">Bordeaux</team>
			<team group="B" country="EN">Man. United</team>
			<team group="C" country="ES">Real Madrid</team>
			<team group="D" country="EN">Chelsea FC</team>
			<team group="E" country="IT">Fiorentina</team>
			<team group="F" country="ES">FC Barcelona</team>
			<team group="G" country="ES">Sevilla FC</team>
			<team group="H" country="EN">Arsenal FC</team>
		</seeded>
		<unseeded>
			<team group="A" country="DE">FC Bayern</team>
			<team group="B" country="RU">CSKA</team>
			<team group="C" country="IT">AC Milan</team>
			<team group="D" country="PT">FC Porto</team>
			<team group="E" country="FR">Lyon</team>
			<team group="F" country="IT">Inter</team>
			<team group="G" country="DE">Stuttgart</team>
			<team group="H" country="GR">Olympiacos</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2008/09">
		<seeded>
			<team group="A" country="IT">AS Roma</team>
			<team group="B" country="GR">Panathinaikos</team>
			<team group="C" country="ES">FC Barcelona</team>
			<team group="D" country="EN">Liverpool FC</team>
			<team group="E" country="EN">Man. United</team>
			<team group="F" country="DE">FC Bayern</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="IT">Juventus</team>
		</seeded>
		<unseeded>
			<team group="A" country="EN">Chelsea FC</team>
			<team group="B" country="IT">Inter</team>
			<team group="C" country="PT">Sporting</team>
			<team group="D" country="ES">Atlético</team>
			<team group="E" country="ES">Villarreal</team>
			<team group="F" country="FR">Lyon</team>
			<team group="G" country="EN">Arsenal FC</team>
			<team group="H" country="ES">Real Madrid</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2007/08">
		<seeded>
			<team group="A" country="PT">FC Porto</team>
			<team group="B" country="EN">Chelsea FC</team>
			<team group="C" country="ES">Real Madrid</team>
			<team group="D" country="IT">AC Milan</team>
			<team group="E" country="ES">FC Barcelona</team>
			<team group="F" country="EN">Man. United</team>
			<team group="G" country="IT">Inter</team>
			<team group="H" country="ES">Sevilla FC</team>
		</seeded>
		<unseeded>
			<team group="A" country="EN">Liverpool FC</team>
			<team group="B" country="DE">Schalke 04</team>
			<team group="C" country="GR">Olympiacos</team>
			<team group="D" country="SC">Celtic</team>
			<team group="E" country="FR">Lyon</team>
			<team group="F" country="IT">AS Roma</team>
			<team group="G" country="TR">Fenerbahçe</team>
			<team group="H" country="EN">Arsenal FC</team>
		</unseeded>
	</teams>
	<teams competition="cl" season="2006/07">
		<seeded>
			<team group="A" country="EN">Chelsea FC</team>
			<team group="B" country="DE">FC Bayern</team>
			<team group="C" country="EN">Liverpool FC</team>
			<team group="D" country="ES">FC Valencia</team>
			<team group="E" country="FR">Lyon</team>
			<team group="F" country="EN">Man. United</team>
			<team group="G" country="EN">Arsenal FC</team>
			<team group="H" country="IT">AC Milan</team>
		</seeded>
		<unseeded>
			<team group="A" country="ES">FC Barcelona</team>
			<team group="B" country="IT">Inter</team>
			<team group="C" country="NL">Eindhoven</team>
			<team group="D" country="IT">AS Roma</team>
			<team group="E" country="ES">Real Madrid</team>
			<team group="F" country="SC">Celtic</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="FR">LOSC Lille</team>
		</unseeded>
	</teams>
</config>
