<config>
	<competition id="cl">
		<name>UEFA Champions League</name>
		<short>CL</short>
	</competition>
	<competition id="el">
		<name>UEFA Europa League</name>
		<short>EL</short>
	</competition>

	<!-- the uppermost teams element is loaded by default -->
	<teams competition="cl" season="2021/22">
		<seeded>
			<team group="A" country="EN">Man. City</team>
			<team group="B" country="EN">Liverpool FC</team>
			<team group="C" country="NL">Ajax</team>
			<team group="D" country="ES">Real Madrid</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="EN">Man. United</team>
			<team group="G" country="FR">LOSC Lille</team>
			<team group="H" country="IT">Juventus</team>
		</seeded>
		<unseeded>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="ES">Atlético</team>
			<team group="C" country="PT">Sporting</team>
			<team group="D" country="IT">Inter</team>
			<team group="E" country="PT">Benfica</team>
			<team group="F" country="ES">Villarreal</team>
			<team group="G" country="AT">Salzburg</team>
			<team group="H" country="EN">Chelsea FC</team>
		</unseeded>
	</teams>
	<teams competition="el" season="2021/22 Knockout">
		<seeded>
			<team country="SC">Rangers</team>
			<team country="ES">Sociedad</team>
			<team country="IT">Napoli</team>
			<team country="GR">Olympiakos</team>
			<team country="IT">Lazio</team>
			<team country="PT">Braga</team>
			<team country="ES">Betis</team>
			<team country="CR">Zagreb</team>
		</seeded>
		<unseeded>
			<team country="DE">Leipzig</team>
			<team country="PT">FC Porto</team>
			<team country="DE">Dortmund</team>
			<team country="MD">Sheriff</team>
			<team country="ES">FC Barcelona</team>
			<team country="IT">Atalanta</team>
			<team country="ES">Sevilla FC</team>
			<team country="RU/UA">Zenit</team>
		</unseeded>
	</teams>

	<teams competition="cl" season="2020/21">
		<winners>
			<team group="A" country="DE">FC Bayern</team>
			<team group="B" country="ES">Real Madrid</team>
			<team group="C" country="EN">Man. City</team>
			<team group="D" country="EN">Liverpool FC</team>
			<team group="E" country="EN">Chelsea FC</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="IT">Juventus</team>
			<team group="H" country="FR">Paris SG</team>
		</winners>
		<runners-up>
			<team group="A" country="ES">Atlético</team>
			<team group="B" country="DE">Gladbach</team>
			<team group="C" country="PT">FC Porto</team>
			<team group="D" country="IT">Atalanta</team>
			<team group="E" country="ES">Sevilla FC</team>
			<team group="F" country="IT">Lazio</team>
			<team group="G" country="ES">FC Barcelona</team>
			<team group="H" country="DE">Leipzig</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2019/20">
		<winners>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="DE">FC Bayern</team>
			<team group="C" country="EN">Man. City</team>
			<team group="D" country="IT">Juventus</team>
			<team group="E" country="EN">Liverpool FC</team>
			<team group="F" country="ES">FC Barcelona</team>
			<team group="G" country="DE">Leipzig</team>
			<team group="H" country="ES">FC Valencia</team>
		</winners>
		<runners-up>
			<team group="A" country="ES">Real Madrid</team>
			<team group="B" country="EN">Tottenham</team>
			<team group="C" country="IT">Atalanta</team>
			<team group="D" country="ES">Atlético</team>
			<team group="E" country="IT">Napoli</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="FR">Lyon</team>
			<team group="H" country="EN">Chelsea FC</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2018/19">
		<winners>
			<team group="A" country="DE">Dortmund</team>
			<team group="B" country="ES">FC Barcelona</team>
			<team group="C" country="FR">Paris SG</team>
			<team group="D" country="PT">FC Porto</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="EN">Man. City</team>
			<team group="G" country="ES">Real Madrid</team>
			<team group="H" country="IT">Juventus</team>
		</winners>
		<runners-up>
			<team group="A" country="ES">Atlético</team>
			<team group="B" country="EN">Tottenham</team>
			<team group="C" country="EN">Liverpool FC</team>
			<team group="D" country="DE">Schalke 04</team>
			<team group="E" country="NL">Ajax</team>
			<team group="F" country="FR">Lyon</team>
			<team group="G" country="IT">AS Roma</team>
			<team group="H" country="EN">Man. United</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2017/18">
		<winners>
			<team group="A" country="EN">Man. United</team>
			<team group="B" country="FR">Paris SG</team>
			<team group="C" country="IT">AS Roma</team>
			<team group="D" country="ES">FC Barcelona</team>
			<team group="E" country="EN">Liverpool FC</team>
			<team group="F" country="EN">Man. City</team>
			<team group="G" country="TR">Beşiktaş JK</team>
			<team group="H" country="EN">Tottenham</team>
		</winners>
		<runners-up>
			<team group="A" country="CH">FC Basel</team>
			<team group="B" country="DE">FC Bayern</team>
			<team group="C" country="EN">Chelsea FC</team>
			<team group="D" country="IT">Juventus</team>
			<team group="E" country="ES">Sevilla FC</team>
			<team group="F" country="RU/UA">Shakhtar</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="ES">Real Madrid</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2016/17">
		<winners>
			<team group="A" country="EN">Arsenal FC</team>
			<team group="B" country="IT">Napoli</team>
			<team group="C" country="ES">FC Barcelona</team>
			<team group="D" country="ES">Atlético</team>
			<team group="E" country="FR">AS Monaco</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="EN">Leicester</team>
			<team group="H" country="IT">Juventus</team>
		</winners>
		<runners-up>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="PT">Benfica</team>
			<team group="C" country="EN">Man. City</team>
			<team group="D" country="DE">FC Bayern</team>
			<team group="E" country="DE">Leverkusen</team>
			<team group="F" country="ES">Real Madrid</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="ES">Sevilla FC</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2015/16">
		<winners>
			<team group="A" country="ES">Real Madrid</team>
			<team group="B" country="DE">Wolfsburg</team>
			<team group="C" country="ES">Atlético</team>
			<team group="D" country="EN">Man. City</team>
			<team group="E" country="ES">FC Barcelona</team>
			<team group="F" country="DE">FC Bayern</team>
			<team group="G" country="EN">Chelsea FC</team>
			<team group="H" country="RU/UA">Zenit</team>
		</winners>
		<runners-up>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="NL">Eindhoven</team>
			<team group="C" country="PT">Benfica</team>
			<team group="D" country="IT">Juventus</team>
			<team group="E" country="IT">AS Roma</team>
			<team group="F" country="EN">Arsenal FC</team>
			<team group="G" country="RU/UA">Kyiv</team>
			<team group="H" country="BE">Gent</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2014/15">
		<winners>
			<team group="A" country="ES">Atlético</team>
			<team group="B" country="ES">Real Madrid</team>
			<team group="C" country="FR">AS Monaco</team>
			<team group="D" country="DE">Dortmund</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="ES">FC Barcelona</team>
			<team group="G" country="EN">Chelsea FC</team>
			<team group="H" country="PT">FC Porto</team>
		</winners>
		<runners-up>
			<team group="A" country="IT">Juventus</team>
			<team group="B" country="CH">FC Basel</team>
			<team group="C" country="DE">Leverkusen</team>
			<team group="D" country="EN">Arsenal FC</team>
			<team group="E" country="EN">Man. City</team>
			<team group="F" country="FR">Paris SG</team>
			<team group="G" country="DE">Schalke 04</team>
			<team group="H" country="RU/UA">Shakhtar</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2013/14">
		<winners>
			<team group="A" country="EN">Man. United</team>
			<team group="B" country="ES">Real Madrid</team>
			<team group="C" country="FR">Paris SG</team>
			<team group="D" country="DE">FC Bayern</team>
			<team group="E" country="EN">Chelsea FC</team>
			<team group="F" country="DE">Dortmund</team>
			<team group="G" country="ES">Atlético</team>
			<team group="H" country="ES">FC Barcelona</team>
		</winners>
		<runners-up>
			<team group="A" country="DE">Leverkusen</team>
			<team group="B" country="TR">Galatasaray</team>
			<team group="C" country="GR">Olympiacos</team>
			<team group="D" country="EN">Man. City</team>
			<team group="E" country="DE">Schalke 04</team>
			<team group="F" country="EN">Arsenal FC</team>
			<team group="G" country="RU">Zenit</team>
			<team group="H" country="IT">AC Milan</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2012/13">
		<winners>
			<team group="A" country="FR">Paris SG</team>
			<team group="B" country="DE">Schalke 04</team>
			<team group="C" country="ES">Málaga</team>
			<team group="D" country="DE">Dortmund</team>
			<team group="E" country="IT">Juventus</team>
			<team group="F" country="DE">FC Bayern</team>
			<team group="G" country="ES">FC Barcelona</team>
			<team group="H" country="EN">Man. United</team>
		</winners>
		<runners-up>
			<team group="A" country="PT">FC Porto</team>
			<team group="B" country="EN">Arsenal FC</team>
			<team group="C" country="IT">AC Milan</team>
			<team group="D" country="ES">Real Madrid</team>
			<team group="E" country="UA">Shakhtar</team>
			<team group="F" country="ES">FC Valencia</team>
			<team group="G" country="SC">Celtic</team>
			<team group="H" country="TR">Galatasaray</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2011/12">
		<winners>
			<team group="A" country="DE">FC Bayern</team>
			<team group="B" country="IT">Inter</team>
			<team group="C" country="PT">Benfica</team>
			<team group="D" country="ES">Real Madrid</team>
			<team group="E" country="EN">Chelsea FC</team>
			<team group="F" country="EN">Arsenal FC</team>
			<team group="G" country="CY">APOEL</team>
			<team group="H" country="ES">FC Barcelona</team>
		</winners>
		<runners-up>
			<team group="A" country="IT">Napoli</team>
			<team group="B" country="RU">CSKA</team>
			<team group="C" country="CH">FC Basel</team>
			<team group="D" country="FR">Lyon</team>
			<team group="E" country="DE">Leverkusen</team>
			<team group="F" country="FR">Marseille</team>
			<team group="G" country="RU">Zenit</team>
			<team group="H" country="IT">AC Milan</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2010/11">
		<winners>
			<team group="A" country="EN">Tottenham</team>
			<team group="B" country="DE">Schalke 04</team>
			<team group="C" country="EN">Man. United</team>
			<team group="D" country="ES">FC Barcelona</team>
			<team group="E" country="DE">FC Bayern</team>
			<team group="F" country="EN">Chelsea FC</team>
			<team group="G" country="ES">Real Madrid</team>
			<team group="H" country="UA">Shakhtar</team>
		</winners>
		<runners-up>
			<team group="A" country="IT">Inter</team>
			<team group="B" country="FR">Lyon</team>
			<team group="C" country="ES">FC Valencia</team>
			<team group="D" country="DK">København</team>
			<team group="E" country="IT">AS Roma</team>
			<team group="F" country="FR">Marseille</team>
			<team group="G" country="IT">AC Milan</team>
			<team group="H" country="EN">Arsenal FC</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2009/10">
		<winners>
			<team group="A" country="FR">Bordeaux</team>
			<team group="B" country="EN">Man. United</team>
			<team group="C" country="ES">Real Madrid</team>
			<team group="D" country="EN">Chelsea FC</team>
			<team group="E" country="IT">Fiorentina</team>
			<team group="F" country="ES">FC Barcelona</team>
			<team group="G" country="ES">Sevilla FC</team>
			<team group="H" country="EN">Arsenal FC</team>
		</winners>
		<runners-up>
			<team group="A" country="DE">FC Bayern</team>
			<team group="B" country="RU">CSKA</team>
			<team group="C" country="IT">AC Milan</team>
			<team group="D" country="PT">FC Porto</team>
			<team group="E" country="FR">Lyon</team>
			<team group="F" country="IT">Inter</team>
			<team group="G" country="DE">Stuttgart</team>
			<team group="H" country="GR">Olympiacos</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2008/09">
		<winners>
			<team group="A" country="IT">AS Roma</team>
			<team group="B" country="GR">Panathinaikos</team>
			<team group="C" country="ES">FC Barcelona</team>
			<team group="D" country="EN">Liverpool FC</team>
			<team group="E" country="EN">Man. United</team>
			<team group="F" country="DE">FC Bayern</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="IT">Juventus</team>
		</winners>
		<runners-up>
			<team group="A" country="EN">Chelsea FC</team>
			<team group="B" country="IT">Inter</team>
			<team group="C" country="PT">Sporting</team>
			<team group="D" country="ES">Atlético</team>
			<team group="E" country="ES">Villarreal</team>
			<team group="F" country="FR">Lyon</team>
			<team group="G" country="EN">Arsenal FC</team>
			<team group="H" country="ES">Real Madrid</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2007/08">
		<winners>
			<team group="A" country="PT">FC Porto</team>
			<team group="B" country="EN">Chelsea FC</team>
			<team group="C" country="ES">Real Madrid</team>
			<team group="D" country="IT">AC Milan</team>
			<team group="E" country="ES">FC Barcelona</team>
			<team group="F" country="EN">Man. United</team>
			<team group="G" country="IT">Inter</team>
			<team group="H" country="ES">Sevilla FC</team>
		</winners>
		<runners-up>
			<team group="A" country="EN">Liverpool FC</team>
			<team group="B" country="DE">Schalke 04</team>
			<team group="C" country="GR">Olympiacos</team>
			<team group="D" country="SC">Celtic</team>
			<team group="E" country="FR">Lyon</team>
			<team group="F" country="IT">AS Roma</team>
			<team group="G" country="TR">Fenerbahçe</team>
			<team group="H" country="EN">Arsenal FC</team>
		</runners-up>
	</teams>
	<teams competition="cl" season="2006/07">
		<winners>
			<team group="A" country="EN">Chelsea FC</team>
			<team group="B" country="DE">FC Bayern</team>
			<team group="C" country="EN">Liverpool FC</team>
			<team group="D" country="ES">FC Valencia</team>
			<team group="E" country="FR">Lyon</team>
			<team group="F" country="EN">Man. United</team>
			<team group="G" country="EN">Arsenal FC</team>
			<team group="H" country="IT">AC Milan</team>
		</winners>
		<runners-up>
			<team group="A" country="ES">FC Barcelona</team>
			<team group="B" country="IT">Inter</team>
			<team group="C" country="NL">Eindhoven</team>
			<team group="D" country="IT">AS Roma</team>
			<team group="E" country="ES">Real Madrid</team>
			<team group="F" country="SC">Celtic</team>
			<team group="G" country="PT">FC Porto</team>
			<team group="H" country="FR">LOSC Lille</team>
		</runners-up>
	</teams>
</config>
